<section id="user">
    <div class="user-info">
        <div class="user-logo">
            <img src="/static/images/user-logo.webp">
        </div>
        <h1 class="user-email">{{email}}</h1>
        <h2 class="created-blogs-count">Total Created Blogs: {{writtenBlogsCount}}</h2>
        <h2 class="followed-blogs-count">Total Followed Blogs: {{followedBlogsCount}}</h2>
    </div>
</section>
<section class="profile-blogs">
    <div class="created-blogs">
        {{#if writtenBlogs}}
        <h2 class="section-title">Created Blogs</h2>
        {{#each writtenBlogs}}
            {{> blogInfoCard }}
        {{/each}}
        {{else}}
        <h2 class="no-blog-in-profile">You haven't published a blog yet...</h2>
        {{/if}}
    </div>

    <div class="followed-blogs">
        {{#if followedBlogs}}
        <h2 class="section-title">Followed Blogs</h2>
        {{#each followedBlogs}}
            {{> blogInfoCard }}
        {{/each}}
        {{else}}
            <h2 class="no-blog-in-profile">You have no blogs followed yet…</h2>
        {{/if}}
    </div>

</section>