<li class="item">
    <header class="pad-med">
        <h2 class="heading">{{name}}</h2>
    </header>

    <main class="align-center">

        <img class="img-thumb" src="{{imageUrl}}">

    </main>

    <footer class="align-center pad-med">
        <p>Location: <strong>{{city}}</strong></p>
        <p>Price: <strong>{{price}}€</strong></p>
        <a class="action" href="/accommodation/{{_id}}">See details</a>
    </footer>
</li>