<h1>{{room.name}} - {{subtitle}}</h1>

{{#with room}}

<div>
    <img class="room-img-box" src="{{imageUrl}}" alt="{{name}}">
    <div class="content pad-med facilities-details">
        <p>Facilities: </p>

        <ul>
            {{#each facilities}}
            <li>
                <img class="image-box" src="{{iconUrl}}" alt="{{label}}">
                <span class="label">{{label}}</span>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
    <div class="padded">
        <footer>
            Listed by {{owner.username}}
        </footer>
    </div>

<p class="item-description">{{description}}</p>
<p>
    <strong>Price per night: {{price}} €</strong>
</p>
{{/with}}